In [1]:
import pandas as pd
import numpy as np

In [2]:
fy15_data_path = "Resources/FY15_data.xlsx"
fy15_df = pd.read_excel(fy15_data_path)
fy15_df.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,REFILE,ORIG_FILE_DATE,ORIG_CASE_NO,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FW_INFO_TRAINING_COMP,FW_INFO_REQ_EXPERIENCE,FW_INFO_ALT_EDU_EXPERIENCE,FW_INFO_REL_OCCUP_EXP,PREPARER_INFO_EMP_COMPLETED,PREPARER_INFO_TITLE,EMPLOYER_DECL_INFO_TITLE,NAICS_US_CODE,NAICS_US_TITLE,PW_Job_Title_9089
0,A-14220-96665,2015-02-03,Certified-Expired,2014-09-10,N,NaT,NaN,N,UNION PACIFIC RAILROAD,"1400 DOUGLAS ST, STOP CODE 0320",...,A,Y,Y,A,N,Attorney at Law,"Assistant Vice President, Human Resources",482111,Line-Haul Railroads,"Software Developers, Applications"
1,A-14220-96720,2015-01-12,Certified-Expired,2014-08-08,N,NaT,NaN,N,VST CONSULTING INC,200 MIDDLESEX ESSEX TPK,...,A,Y,A,Y,N,ATTORNEY,PRESIDENT,541511,Custom Computer Programming Services,"Software Developers, Applications"
2,A-14203-91167,2014-12-18,Certified-Expired,2014-07-28,N,NaT,NaN,N,GOOGLE INC.,1600 AMPHITHEATRE PARKWAY,...,A,A,N,Y,N,Attorney,Immigration Program Specialist,541512,Computer Systems Design Services,"Software Developers, Applications"
3,A-14206-92509,2015-03-10,Certified-Expired,2014-10-19,N,NaT,NaN,N,INTEL CORPORATION,2200 MISSION COLLEGE BLVD.,...,A,A,A,A,N,Attorney,U.S. Immigration Ops Manager,3344,Semiconductor and Other Electronic Component M...,"Electronics Engineers, Except Computer"
4,A-14202-90786,2015-01-07,Certified-Expired,2014-08-25,N,NaT,NaN,N,NET ESOLUTIONS CORPORATION,8280 GREENSBORO DRIVE,...,A,N,Y,Y,N,Attorney-at-Law,Managing Director,541511,Custom Computer Programming Services,"Software Developers, Applications"

In [3]:
fy15_df.columns

Index(['CASE_NUMBER', 'DECISION_DATE', 'CASE_STATUS', 'CASE_RECEIVED_DATE',
       'REFILE', 'ORIG_FILE_DATE', 'ORIG_CASE_NO', 'SCHD_A_SHEEPHERDER',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS_1',
       ...
       'FW_INFO_TRAINING_COMP', 'FW_INFO_REQ_EXPERIENCE',
       'FW_INFO_ALT_EDU_EXPERIENCE', 'FW_INFO_REL_OCCUP_EXP',
       'PREPARER_INFO_EMP_COMPLETED', 'PREPARER_INFO_TITLE',
       'EMPLOYER_DECL_INFO_TITLE', 'NAICS_US_CODE', 'NAICS_US_TITLE',
       'PW_Job_Title_9089'],
      dtype='object', length=125)

In [4]:
# Select the columns that we need
fy15_df2 = fy15_df[['CASE_NUMBER','DECISION_DATE','CASE_STATUS','CASE_RECEIVED_DATE','EMPLOYER_NAME','EMPLOYER_CITY',
                   'EMPLOYER_STATE','EMPLOYER_POSTAL_CODE','EMPLOYER_NUM_EMPLOYEES','AGENT_FIRM_NAME','AGENT_CITY',
                   'AGENT_STATE','PW_SOC_CODE','PW_SOC_TITLE','PW_AMOUNT_9089','WAGE_OFFER_FROM_9089','WAGE_OFFER_UNIT_OF_PAY_9089',
                   'JOB_INFO_WORK_CITY','JOB_INFO_WORK_STATE','JOB_INFO_WORK_POSTAL_CODE','JOB_INFO_JOB_TITLE',
                   'JOB_INFO_EDUCATION','JOB_INFO_EDUCATION_OTHER','FOREIGN_WORKER_INFO_CITY','FOREIGN_WORKER_INFO_STATE',
                   'FW_INFO_POSTAL_CODE','COUNTRY_OF_CITIZENSHIP','FW_INFO_BIRTH_COUNTRY','CLASS_OF_ADMISSION','FOREIGN_WORKER_INFO_EDUCATION','FW_INFO_EDUCATION_OTHER']]
fy15_df2.dtypes

CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                          float64
WAGE_OFFER_FROM_9089                    float64
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
dtype: object

In [5]:
# change column to float
fy15_df2['WAGE_OFFER_FROM_9089'] = fy15_df2['WAGE_OFFER_FROM_9089'].astype(float)
fy15_df2.dtypes

C:\Users\freguenet3\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                          float64
WAGE_OFFER_FROM_9089                    float64
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
dtype: object

In [6]:
fy15_df2.count()

CASE_NUMBER                      89297
DECISION_DATE                    89297
CASE_STATUS                      89297
CASE_RECEIVED_DATE               89295
EMPLOYER_NAME                    89293
EMPLOYER_CITY                    89293
EMPLOYER_STATE                   89284
EMPLOYER_POSTAL_CODE             89289
EMPLOYER_NUM_EMPLOYEES           89250
AGENT_FIRM_NAME                  74050
AGENT_CITY                       75869
AGENT_STATE                      74725
PW_SOC_CODE                      89141
PW_SOC_TITLE                     89141
PW_AMOUNT_9089                   89243
WAGE_OFFER_FROM_9089             89262
WAGE_OFFER_UNIT_OF_PAY_9089      88095
JOB_INFO_WORK_CITY               89270
JOB_INFO_WORK_STATE              89270
JOB_INFO_WORK_POSTAL_CODE        89252
JOB_INFO_JOB_TITLE               89274
JOB_INFO_EDUCATION               89292
JOB_INFO_EDUCATION_OTHER          2926
FOREIGN_WORKER_INFO_CITY         88984
FOREIGN_WORKER_INFO_STATE        84213
FW_INFO_POSTAL_CODE              86241
COUNTRY_OF_CITIZENSHIP           89273
FW_INFO_BIRTH_COUNTRY            88980
CLASS_OF_ADMISSION               83844
FOREIGN_WORKER_INFO_EDUCATION    88979
FW_INFO_EDUCATION_OTHER           3952
dtype: int64

In [7]:
fy15_df2["CASE_NUMBER"].nunique()

89149

In [8]:
fy15_df2.to_excel("Resources/FY15_Data_Clean.xlsx")

NameError: name 'fy15_df2' is not defined